* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;	
	height: 100%;
}

a {
	color: #832E00;
}

a:hover {
	color: #F79A68;
}

header {
	background-color: #834F00;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}



header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*  --------
 *  Top menu
 *  --------*/
 
.menu {
	color: #FFF;
	height: 30px;
	width: 1100px;
	margin: 0 auto;
	display: block;
}

.menu li {
	list-style: none;
	text-align: center;
	float: left;
	height:1.5em;
}

.menu a {
	color: inherit;
	text-decoration: none;
	padding: 5px;
	height:20px;
	display:block;
	font-weight:bold;
}

.menu a:hover {
	background-color:#996C26;
}

#wrapper {
	width: 1100px;
	margin: 0 auto;
	margin-top: 30px;
	background: #FFF;
	height: auto;
}

#wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


#content {
	width: 800px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	float: left;
	padding: 25px;
	height: 100%;
}

#sidebar {
	float: right;
	width: 197px;
	padding: 0 25px;
	margin-top: 25px;
	height: 100%;
}

#sidebar h1 {
	font-weight:bold;
	width: 100%;
	border-bottom: 1px solid #CCC;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

#sidebar h2 {
	font-weight:normal;
	width: 90%;
	border-bottom: 1px dotted #AAA;
	font-size: 1.1em;
	margin-top: 0.5em;
}

#sidebar li {
	list-style:none;
}


#messages li {
	display: block;
	width: 80%;
	border: 1px solid blue;
	background-color: #AAAAFF;
}

footer {
	border-top: 1px solid #DDD;
	width: 100%;
	padding: 0 10px;
}

#taglist {
	padding:0;
	margin:0;
}

#taglist .tag {
	display: inline;
	border: 1px solid black;
}

#taglist .tag a {
	vertical-align:super;
	font-size:0.8em;
}

a .delete {
	color: #FF0000;
}