{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %} - {{block.super}}{% endblock %}

{% block content %}
{% if form.errors %}
	<p>{% blocktrans %}Your username and password did not match. Please try again.{% endblocktrans %}</p>
{% endif %}
<form method="post" action="{% url django.contrib.auth.views.login %}?next={{ next }}">
	{% csrf_token %}
	<table>{{ form }}</table>
	<input type="submit" value="{% trans "Login" %}">
</form>
<a href="/accounts/register">{% trans "Register" %}</a>
{% endblock %}