{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Messages" %} - {{block.super}}{% endblock %}
{% block content %}

{% endblock %}

{% block sidebar %}
<a href="{% url CoBo.accounts.views.new_message %}">{% trans "New Message"}</a>
<ul>
	{% for messagebox in messageboxes %}
	<li><a href="{% url CoBo.accounts.views.messagebox messagebox.id %}">
		{% if messagebox.system %}
			{% trans messagebox.name %}
		{% else %}
			{{messagebox.name}}
		{% endif %}
		</a></li>
	{% endfor %}
</ul>
{% endblock %}