{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Register" %} - {{block.super}}{% endblock %}
{% block content %}
<form method="post" action="{% url CoBo.accounts.views.register %}">
	{% csrf_token %}
	<table>{{ form }}</table>
	<input type="submit" value="{% trans "Register" %}">
</form>
{% endblock %}