{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Screebo{% endblock %}</title> 
		{% block styles %}
		<link rel="stylesheet" href="/static/css/base.css" type="text/css">
		{% endblock %}
		{% block scripts %}
		<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js" type="text/javascript"></script>
		{% endblock %}
	</head>
	<body>
		<header>
			<ul class="menu">
				<li><a href="{% url CoBo.mainpage.views.mainpage %}">{% trans "Home" %}</a></li>
				<li><a href="{% url CoBo.books.views.overview %}">{% trans "Books" %}</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Logout" %}</a></li>
				{% else %}
				<li><a href="{% url django.contrib.auth.views.login %}">{% trans "Login" %}</a></li>
				<li><a href="{% url CoBo.accounts.views.register %}">{% trans "Register" %}</a></li>
				{% endif %}
			</ul>
		</header>
		<div id="wrapper">
			<ul id="messages">
				{% for message in messages %}
	    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    		{% endfor %}
			</ul>
			<div id="content">{% block content %}{% endblock %}</div>
			<div id="sidebar">{% block sidebar %}{% endblock %}</div>
		</div>
		<footer>Footer</footer>
	<body>
</html>