#bookoverview li {
	list-style: none;
	display: inline-block;
	margin: 20px;
}

#bookoverview li a {
	background-color: #986B27;
	display: block;
	width: 120px;
	height: 150px;
	color: #FFF;
	text-align:center;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bold;
	font-family: serif;
}

#booktext {
	background-color: #F8ECC2;
	color: #222;
	margin: 20px;
	font-family: serif;
	box-shadow: 0 0 5px 5px #CCC;
}

#booktext h1 {
	padding: 15px;
}

#booktext .chapter {
	padding: 15px;
	font-family: serif;
}

#booktext .chapter:hover {
	background-color: #F5F5F5;
}


#booktext .chapter:hover {
	background-color: #F5F5F5;
}

#booktext .chapter p {
	font-size:1.1em;
}
