{% extends 'books/base.html' %}
{% load i18n %}

{% block content %}
{% blocktrans %}Do you really want to {{action}} this chapter{% endblocktrans %}
<form method="post" action="{% url CoBo.books.views.manage_chapter mode id %}">
	{% csrf_token %}
	<input type="submit" value="{% trans "Yes" %}">
</form>
<form method="link" action="{% url CoBo.books.views.show chapter.book.id %}">
	<input type="submit" value="{% trans "No" %}">
</form>
{% endblock %}
