{% extends 'books/base.html' %}
{% load i18n %}

{% block title %}{% trans "New book" %} - {{ block.super }}{% endblock %}

{% block content %}
<form method="post" action="{% url CoBo.books.views.new %}">
	{% csrf_token %}
	<table>{{ form }}</table>
	<input type="submit" value="{% trans "Done" %}">
</form>
{% endblock %} 