{% extends 'books/base.html' %}
{% load i18n %}

{% block content %}
{{chapter.text}}
<form method="post" action="{% url CoBo.books.views.new_chapter book.id %}">
	{% csrf_token %}
	<table>{{form}}</table>
	<input type="submit" value="{% trans "Send" %}">
</form>
{% endblock %}