{% extends 'books/base.html' %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}{% trans "Overview" %} - {{ block.super }}{% endblock %}
{% block content %}
<ul id="bookoverview">
	{% for book in books.object_list %}
	<li><a href="{% url CoBo.books.views.show book.id %}">{{book.title}}</a></li>
	{% endfor %}
</ul>
{% endblock %}
{% block sidebar %}
{% if user.is_authenticated %}
<a href="{% url CoBo.books.views.new %}">{% trans "Create new Book" %}</a>
{% endif %}
{% endblock %}
