{% extends 'books/base.html' %}
{% load i18n %}

{% block title %}{% trans "Book" %}: {{book.title}} - {{ block.super }}{% endblock %}

{% block content %}	
<div id = "booktext">
	<hgroup>
		<h1>{{book.title}}</h1>
		{% for chapter in chapters %}
		<div class="chapter">{{chapter.text|linebreaks}}</div>
		{% endfor %}
	</hgroup>
</div>

<h2>{% trans "Proposed chapters" %}</h2>
<div>
{% if book.writing_enabled %}<a href="{% url CoBo.books.views.new_chapter book.id %}">{% trans "Add a proposal" %}</a>{% endif %}
{% for proposal in proposals %}
	<div>{{proposal.text|linebreaks}}
		<div class="infobox">
			<ul>
				<li>{{proposal.getName}}</li>
			</ul>
			{% if proposal.votes.count > 0 %}
			{% trans "Votes" %}: {{proposal.votes.count}}
			{% endif %}
			{% if user.is_authenticated and not book.writing_enabled %}
			{% if user in prposol.votes.all %}
			<a href="{% url CoBo.books.views.vote id=proposal.id %}">{% trans "Unvote" %}</a>
			{% else %}
			<a href="{% url CoBo.books.views.vote id=proposal.id %}">{% trans "Vote" %}</a>
			{% endif %}
			{% endif %}
			{% if manage or proposal.creator == user %}
			<a href="{% url CoBo.books.views.manage_chapter mode="delete" id=proposal.id %}">{% trans "Delete" %}</a>
			<a href="{% url CoBo.books.views.manage_chapter_edit id=proposal.id %}">{% trans "Edit" %}</a>
			{% endif %}
			{% if manage %}
			<a href="{% url CoBo.books.views.manage_chapter mode="promote" id=proposal.id %}">{% trans "Promote" %}</a>
			{% endif %}
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
<hgroup>
	<h1>{% trans "Information" %}</h1>
	<h2>{% trans "Title" %}</h2>
	{{book.title}}
	<h2>{% trans "Mode" %}</h2>
	{% if book.writing_enabled %}
		{% trans "Write" %}
	{% else %}
		{% trans "Vote" %}
	{% endif %}
	<h2>{% trans "Next Switch" %}</h2>
	<time>{{mode_time|date:"SHORT_DATE_FORMAT"}}</time>
	<h2>{% trans "Creator" %}</h2>
	{{book.getName}}
	<h2>{% trans "Created on" %}</h2>
	{{book.creation|date:"SHORT_DATE_FORMAT"}}
	
	<h2>{% trans "Tools" %}</h2>
	{% if manage %}
	<a href="{% url CoBo.books.views.manage_book id=book.id %}">{% trans "Manage" %}</a><br>
	<a href="{% url CoBo.books.views.manage_book_switch id=book.id %}">{% trans "Switch mode" %}</a><br>
	<a href="{% url CoBo.books.views.manage_book_delete id=book.id %}">{% trans "Delete" %}</a><br>
	{% endif %}
</hgroup>
{% endblock %}
