{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="/static/css/mainpage.css" type="text/css">
{% endblock %}
{% block content %}
<div id = "bookstage">
	<div>
		{% trans "Newest Books" %}
		<ul>
			<li>Buch1</li>
			<li>Buch2</li>
			<li>Buch3</li>
		</ul>
	</div>
</div>
{% endblock %}
{% block sidebar %}
Sidebar text
{% endblock %}